@import "../node_modules/reset.css/reset.css";
.main__content .settings, .main__content .message-user, .main__content .recent-activity, .main__content .new-members, .main__content .social-stats, .main__content .mobile-users, .main__content .daily-traffic, .main__content .traffic {
  background: white;
  padding: 20px 20px 40px 20px;
}

.input-box, .message-form__search, .message-form__message {
  border: 1px solid #E0E0E0;
  background: #FBFBFB;
  font-family: "Varela", sans-serif;
  border-radius: 6px;
  padding: 14px;
  width: 100%;
}

.button-half, .button-full {
  font-weight: bold;
  display: block;
  padding: 16px;
  border-radius: 6px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.2s ease;
}

* {
  box-sizing: border-box;
  font-size: 16px;
}

.logo,
.user-name {
  font-family: "Varela", sans-serif;
}

.logo {
  font-size: 1.5em;
  margin-right: auto;
  padding: 28px 20px;
  color: #F8F8FB;
  font-weight: 100;
}
.logo__strong {
  color: white;
  font-weight: bold;
}
.logo .trademark {
  font-size: 0.5em;
  vertical-align: 10px;
}

.bold {
  font-weight: bold;
}

.page {
  height: 100vh;
  display: grid;
  min-width: 320px;
  grid-template-rows: 80px 1fr 60px;
  grid-template-areas: "header" "main" "sidebar";
}
@media (min-width: 1024px) {
  .page {
    grid-template-rows: 80px 1fr;
    grid-template-columns: 180px 1fr;
    grid-template-areas: "header header" "sidebar main";
  }
}

.main {
  display: grid;
  grid-gap: 1px;
  background: #E0E0E0;
  grid-template-rows: 60px 1fr;
  grid-template-areas: "topbar" "content";
}

.header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
}
.header__notification {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  padding: 10px;
  margin-right: 12px;
  display: block;
  position: relative;
}
.header__notification:hover .bell {
  transition: 0.3s ease;
  fill: #7FDC85;
}
.header .notification-dot {
  position: absolute;
  top: 8px;
  right: 10px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.header__user {
  padding-left: 20px;
  padding-right: 20px;
}
.header__user .user-thumbnail,
.header__user .user-name {
  display: inline-block;
  vertical-align: middle;
}
.header__user .user-name {
  margin-left: 10px;
  display: none;
}
@media (min-width: 768px) {
  .header__user .user-name {
    display: inline-block;
  }
}

.sidebar {
  background: #515274;
  grid-area: sidebar;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-items: center;
}
.sidebar__icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  cursor: pointer;
  padding: 10px 20px;
}
@media (min-width: 1024px) {
  .sidebar__icon {
    width: 100%;
    margin-top: 20px;
  }
}
.sidebar__icon__desc {
  display: none;
}
@media (min-width: 768px) {
  .sidebar__icon__desc {
    display: block;
    font-family: "Varela", sans-serif;
    color: #F8F8FB;
    display: block;
    padding-left: 20px;
  }
}
@media (min-width: 1024px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
  }
}

.main {
  grid-area: main;
  position: relative;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-areas: "topbar" "content";
}
.main__topbar {
  grid-area: topbar;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
}
.main__topbar .search {
  margin-left: auto;
}
.main__topbar .search__input {
  margin-left: 26px;
}
.main__content {
  max-height: calc(100vh - 201px);
  grid-area: content;
  position: relative;
  left: auto;
  right: auto;
  display: grid;
  grid-gap: 1px;
  overflow-y: scroll;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 1fr);
  grid-template-areas: "traffic" "daily-traffic" "mobile-users" "social-stats" "new-members" "recent-activity" "message-user" "settings";
}
@media (min-width: 768px) {
  .main__content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "traffic traffic" "daily-traffic mobile-users" "social-stats social-stats" "new-members recent-activity" "message-user settings";
  }
}
@media (min-width: 1024px) {
  .main__content {
    max-height: calc(100vh - 141px);
  }
}
.main__content .message {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  z-index: 100000;
}
.main__content .traffic {
  grid-area: traffic;
}
.main__content .daily-traffic {
  grid-area: daily-traffic;
}
.main__content .mobile-users {
  grid-area: mobile-users;
}
.main__content .social-stats {
  grid-area: social-stats;
}
.main__content .social-stats .chart-social-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.main__content .new-members {
  grid-area: new-members;
}
.main__content .recent-activity {
  grid-area: recent-activity;
}
.main__content .message-user {
  grid-area: message-user;
}
.main__content .settings {
  grid-area: settings;
}
.main .chart-header {
  margin: 20px 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  font-family: "Varela", sans-serif;
}
.main .chart-header__header {
  margin-right: auto;
  font-weight: bold;
}
.main .chart-header__options {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
}
.main .chart-header__options__item {
  cursor: pointer;
  padding: 8px;
  display: inline-block;
  border-radius: 16px;
}
.main .chart-wrapper {
  position: relative;
  width: 100%;
}

canvas {
  max-width: 100%;
}

.awesomplete {
  width: 100%;
}

.user-thumbnail {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 4px 10px -3px rgba(0, 0, 0, 0.3);
}

.button-full {
  width: 100%;
}
.button-full:hover {
  opacity: 0.8;
}
.button-half {
  width: 48%;
}
.button-half:hover {
  opacity: 0.8;
}

.icon {
  width: 28px;
  height: 28px;
  display: block;
}

.tab {
  padding: 20px;
  height: 61px;
}

.toggle {
  user-select: none;
  cursor: pointer;
  font-family: "Varela", sans-serif;
  font-size: 0.8em;
  font-weight: bold;
  color: white;
  overflow: hidden;
  width: 80px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid #E0E0E0;
}
.toggle__slider {
  transition: 0.2s ease;
  position: relative;
  width: 130px;
  height: 28px;
  background: #747ABF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  padding-left: 14px;
  padding-right: 14px;
}
.toggle__slider__handle {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: white;
  border: 1px solid #E0E0E0;
}

.search__input {
  flex: 1;
  width: 42px;
  padding-left: 20px;
  line-height: 2.4;
  border: 1px solid #E0E0E0;
  border-radius: 21px;
  transition: 0.2s ease;
}
.search__input--is-hovered {
  width: 70px;
  box-shadow: 0px 4px 16px -5px rgba(0, 0, 0, 0.15);
}
.search__input--is-focused {
  width: auto;
  box-shadow: 0px 4px 16px -5px rgba(0, 0, 0, 0.15);
}
@media (min-width: 768px) {
  .search__input {
    width: auto;
  }
  .search__input--is-hovered {
    width: auto;
  }
}
.search__input:focus {
  outline: none;
  box-shadow: 0px 4px 16px -5px rgba(0, 0, 0, 0.15);
}
.search__btn {
  pointer-events: none;
  background: transparent;
  border: none;
  position: relative;
  right: 29px;
}
.search__btn:focus {
  outline: none;
}

.message {
  padding: 16px 24px;
  height: 60px;
  opacity: 0;
  border-radius: 0 30px 30px 0;
  margin-top: 10px;
  overflow: hidden;
  box-shadow: 0 4px 16px -5px rgba(0, 0, 0, 0.3);
  transition: 0.4s ease-out;
  width: 0%;
  border-left: 6px;
}
@media (min-width: 768px) {
  .message {
    height: 48px;
    border-radius: 0 48px 48px 0;
  }
  .message h2 {
    width: 1024px;
  }
}
.message--show {
  opacity: 1;
  width: 70%;
}
.message .icn-close {
  position: absolute;
  right: 18px;
  top: 22px;
}
@media (min-width: 768px) {
  .message .icn-close {
    top: 16px;
  }
}

.card-social {
  flex: 1 300px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  margin: 10px;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  height: 120px;
  padding: 20px;
}
.card-social__icon {
  padding: 16px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.card-social__icon .social-svg {
  position: relative;
  top: 4px;
}
.card-social__content {
  font-family: "Varela", sans-serif;
  flex: 1;
  padding-left: 20px;
}
.card-social__content__header {
  font-weight: bold;
}
.card-social__content__stat {
  font-size: 3em;
}

.members {
  font-family: "Varela", sans-serif;
}
.members__member {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  border-bottom: 1px solid #E0E0E0;
}
.members__member__thumbnail-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.members__member__thumbnail-wrapper img {
  width: 100%;
  height: auto;
}
.members__member__info {
  padding: 10px;
  margin-right: auto;
}
.members__member__info__name {
  display: block;
}
.members__member__info__email {
  font-size: 0.8em;
  text-decoration: none;
  color: #A5A9D4;
  line-height: 1.3;
  display: block;
}
.members__member:last-child {
  border-bottom: none;
}

.activities {
  font-family: "Varela", sans-serif;
}
.activities__activity {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  border-bottom: 1px solid #E0E0E0;
}
.activities__activity__thumbnail-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.activities__activity__thumbnail-wrapper img {
  width: 100%;
  height: auto;
}
.activities__activity__info {
  padding: 10px;
  margin-right: auto;
}
.activities__activity__info__title {
  display: block;
}
.activities__activity__info__title a {
  text-decoration: none;
  color: #A5A9D4;
}
.activities__activity__info__timestamp {
  font-size: 0.8em;
  color: #A6A6A6;
  line-height: 1.3;
  display: block;
}
.activities__activity:last-child {
  border-bottom: none;
}

.message-form {
  padding-left: 10px;
  padding-right: 10px;
}
.message-form__search, .message-form__message {
  width: 100%;
  margin-bottom: 10px;
  padding: 14px 20px;
  border-radius: 6px;
}
.message-form__search {
  color: #A6A6A6;
}

.input-box {
  outline: none;
}

.setting {
  font-family: "Varela", sans-serif;
  color: #6A6A6A;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
}
.setting__group {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  padding: 10px;
}
.setting__group__label {
  margin-right: auto;
}
.setting__group:last-child {
  margin-top: auto;
}

.header,
.sidebar .message,
.btn {
  color: white;
}

.header {
  background: #747ABF;
}
.header__user {
  border-left: 1px solid #515274;
}

.logo {
  color: #F8F8FB;
}
.logo__strong {
  color: white;
}

.notification-dot {
  background: #7FDC85;
}

.sidebar__icon {
  opacity: 0.5;
}
.sidebar__icon--active {
  opacity: 1;
  border-left: none;
  border-bottom: 2px solid #7FDC85;
}
@media (min-width: 1024px) {
  .sidebar__icon--active {
    height: auto;
    border-left: 2px solid #7FDC85;
    border-bottom: none;
  }
}

.main__topbar {
  background: #FBFBFB;
}
.main__topbar .tab {
  border-right: 1px solid #E0E0E0;
  border-bottom: 1px solid white;
  background: white;
  text-decoration: none;
  color: #6A6A6A;
  font-family: "Varela", sans-serif;
}
.main__content .icn-close {
  cursor: pointer;
  transition: 0.2s ease;
}
.main__content .icn-close:hover {
  transform: rotate(90deg);
}
.main .message {
  background: #747ABF;
  color: white;
  font-family: "Varela", sans-serif;
}
.main .chart-header {
  color: #A6A6A6;
}
.main .chart-header__options__item--active {
  background: #7FDC85;
  color: white;
}

.card-social__icon {
  background: #747ABF;
}
.card-social__content__header {
  color: #747ABF;
}
.card-social__content__stat {
  color: #6A6A6A;
}

.button-full, .button-half {
  background: #747ABF;
  color: white;
}
.button--cancel {
  background: #B3B3B3;
}

/*# sourceMappingURL=index.css.map */
