//colors
$color-primary: #747ABF;
$color-primary-dark: #515274;
$color-secondary: white;
$color-tertiary: #FBFBFB;

$font-primary: 'Varela', sans-serif;

$font-color-primary: white;
$font-color-primary-dark: #F8F8FB;
$font-color-secondary: #6A6A6A;
$font-color-tertiary: #A6A6A6;

$font-color-link: #A5A9D4;

$color-border: #E0E0E0;

$color-success: #7FDC85;

//breakpoints
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;