.header {
    grid-area: header;
    @include flex();

    &__notification {
        @include roundy(44px);
        cursor: pointer;
        padding: 10px;
        margin-right: 12px;
        display: block; 
        position: relative;
    }

    &__notification:hover .bell {
        transition: 0.3s ease;
        fill: $color-success;
    }

    .notification-dot {
        position: absolute;
        top: 8px;
        right: 10px;
        @include roundy(6px);
    }

    &__user {
        padding-left: 20px;
        padding-right: 20px;

        .user-thumbnail,
        .user-name {
            display: inline-block;
            vertical-align: middle;
            
        }

        .user-name {
            margin-left: 10px;
            display: none;
            @include media('md') {
                display: inline-block;
            }
        }
    }
}
