.main {
    grid-area: main;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-areas: 
        "topbar"
        "content";

    &__topbar {
        grid-area: topbar;
        @include flex($align: center);

        .tab {
            position: relative;
            bottom: -1px;
        }

        .search {
            @include flex($align: center);
            margin-left: auto;

            &__input {
                margin-left: 26px;
            }

            &__btn {
                position: relative;
                right: 29px;
            }
        }
    }

    &__content {
        grid-area: content;
        position: relative;
        max-height: calc(100vh - 141px);
        left: auto;
        right: auto;
        display: grid;
        grid-gap: 1px;
        overflow-y: scroll;

        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
        grid-template-areas: 
            "traffic"
            "daily-traffic"
            "mobile-users"
            "social-stats"
            "new-members" 
            "recent-activity"
            "message-user"
            "settings";  


        @include media('md') {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(5, 1fr);
            grid-template-areas: 
                "traffic traffic"
                "daily-traffic mobile-users"
                "social-stats social-stats"
                "new-members recent-activity"
                "message-user settings";    
        }
        
        .message {
            display: none;
            position: absolute;
            width: 90%; 
            
            .icn-close {
                position: absolute;
                right: 18px;
                top: 17px;
            }

            transition: 0.4s ease;
        }

        .traffic {
            @extend %widget;
            grid-area: traffic;
        }
        .daily-traffic {
            @extend %widget;
            grid-area: daily-traffic;
        }
        .mobile-users {
            @extend %widget;
            grid-area: mobile-users;
        }
        .social-stats {
            @extend %widget;
            grid-area: social-stats;
            @include flex($just: space-between, $wrap: wrap);
        }
        .new-members {
            @extend %widget;
            grid-area: new-members;
        }
        .recent-activity {
            @extend %widget;
            grid-area: recent-activity;
        }
        .message-user {
            @extend %widget;
            grid-area: message-user;
        }
        .settings {
            @extend %widget;
            grid-area: settings;
        }
    } //end .content

    .chart-header {
        margin: 20px 10px;
        font-family: $font-primary;
        color: $font-color-secondary;
        font-weight: bold;
    }

    .chart-wrapper {
        position: relative;
        width: 100%;
    }
}