.main {
    grid-area: main;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-areas: 
        "topbar"
        "content";

    &__topbar {
        grid-area: topbar;
        @include flex($align: center);

        .tab {
            position: relative;
            bottom: -1px;
        }

        .search {
            @include flex($align: center);
            margin-left: auto;

            &__input {
                // display: none;
                margin-left: 26px;
            }

            &__btn {
                position: relative;
                right: 36px;
            }
        }
        
    }
}