.icon {
    width: 28px;
    height: 28px;
    display: block;
    margin: auto;
}

.tab {
    padding: 20px;
    height: 61px;
}

.btn-search {
    background: $color-secondary;
    border: none;
}

