.card {
    &-social {
        flex: 1 300px;
        @include flex();
        margin: 10px;
        border: 1px solid $color-border;
        border-radius: 4px;
        height: 120px;
        padding: 20px;

        &__icon {
            padding: 16px;
            @include roundy(70px);

            .social-svg {
                position: relative;
                top: 4px;
            }
        }

        &__content {
            font-family: $font-primary;
            flex: 1;
            padding-left: 20px;

            &__header {
                font-weight: bold;
            }

            &__stat {
                font-size: 3em;
            }
        }
    }
}