.members {
    font-family: $font-primary;
    &__member {
        padding-top: 10px;
        padding-bottom: 10px;
        @include flex();
        border-bottom: 1px solid $color-border;
        &__thumbnail-wrapper {
            @include roundy(40px);
            overflow: hidden;
            img {
                width: 100%;
                height: auto;
            }
        }

        &__info {
            padding: 10px;
            margin-right: auto;

            &__name {
                display: block;
            }
            &__email {
                font-size: 0.8em;
                text-decoration: none;
                color: $font-color-link;
                line-height: 1.3;
                display: block;
            }
        }

        &__date {
            
        }
    }

    &__member:last-child {
        border-bottom: none;
    }
}