.header,
.sidebar
.message,
.btn {
    color: $font-color-primary;
}

.header {
    background: $color-primary;
    
    &__user {
        border-left: 1px solid $color-primary-dark;
    }
}

.logo {
    color: $font-color-primary-dark;

    &__strong {
        color: $font-color-primary;
    }
}

.notification-dot {
    background: $color-success;
}

.sidebar__icon {
    opacity: 0.5;

    &--active {
        opacity: 1;
        border-left: none;
        border-bottom: 2px solid $color-success;

        @include media('lg') {
            height: auto;
            border-left: 2px solid $color-success;
            border-bottom: none;
        }
    }
}

.main {
    &__topbar {
        background: $color-tertiary;

        .tab {
            border-right: 1px solid $color-border;
            border-bottom: 1px solid white;
            background: $color-secondary;
            text-decoration: none;
            color: $font-color-secondary;
            font-family: $font-primary;
        }   
    }

    &__content {

        .icn-close {
            cursor: pointer;
            transition: 0.2s ease;
        }
        .icn-close:hover {
            transform: rotate(90deg);
        }
    }

    .message {
        background: $color-primary;
        color: $font-color-primary;
        font-family: $font-primary;
    }

    .chart-header {
        color: $font-color-tertiary;

        &__options {
            &__item {
                &--active {
                    background: $color-success;
                    color: $font-color-primary;
                }
            }
        }
    }
}

.card {
    &-social {
        &__icon {
            background: $color-primary;
        }
        &__content {
            &__header {
                color: $color-primary
            }

            &__stat {
                color: $font-color-secondary;
            }
        }
    }
}